 <section class="container mt-5 pt-5">
  <div id="saludCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/salud1.jpg" class="d-block w-100 rounded shadow" alt="Salud 1">
      </div>
      <div class="carousel-item">
        <img src="img/salud2.jpg" class="d-block w-100 rounded shadow" alt="Salud 2">
      </div>
      <div class="carousel-item">
        <img src="img/salud3.jpg" class="d-block w-100 rounded shadow" alt="Salud 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#saludCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#saludCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>
